/** ========================== **/
/** === Projects Component === **/
/** ========================== **/

.projects__wrapper {
  width: 100%;
  position: relative;
  display: flex;
}

.projects {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  margin-top: 200px;
}

/** ========================= **/
/** === Project Component === **/
/** ========================= **/

.project {
  width: 100%;
  font-size: 25px;
  margin-top: 100px;
}

.project:first-child {
  margin-top: 0;
}

.project__title {
  font-size: 35px;
  margin: 20px 0 0 0;
}

.project__subtitle {
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}

.project__detail {
  margin-top: 20px;
  display: flex;
}

.project__detail-image-wrapper {
  flex: 1;
}

.project__detail-image {
  display: block;
  margin: 0 auto;
}

.project__detail-content {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 18px;
  font-weight: lighter;
}

.project__technology-content-title {
  font-weight: normal;
  margin-bottom: 20px;
}

/** ========================================= **/
/** === ProjectTechnologiesList Component === **/
/** ========================================= **/

.project-technologies-list__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
}

.project-technologies-list__title {
  padding: 20px 0 5px 0;
}

.project-technologies-list__list-item {
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

/** ============================= **/
/** === MiniProject Component === **/
/** ============================= **/

.mini-project__title {
  font-size: 35px;
  margin: 50px 0 0 0;

}

.mini-project__subtitle {
  font-size: 18px;
  font-weight: lighter;
  margin: 10px 0;
}

/** ============================================= **/
/** === MiniProjectTechnologiesList Component === **/
/** ============================================= **/

.mini-project-technologies-list__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
}

.mini-project-technologies-list__list-item {
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

/** ======================= **/
/** ==== MEDIA QUERIES ==== **/
/** ======================= **/

@media all and (max-width: 1500px) { 
  
} 

@media all and (max-width: 768px) { 
  .projects {
    width: 80%;
    margin-top: 100px;
  }

  .project__title {
    font-size: 25px;
    margin: 20px 0 0 0;
  }

  .project__detail {
    flex-wrap: wrap;
  }

  .project__detail-image {
    margin-bottom: 30px;
  }

  .project__detail-reverse {
    flex-wrap: wrap-reverse;
  }
}