.skills__wrapper {
  width: 100%;
  position: relative;
}

.skills__tables-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__tables {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}

/** ===================== **/
/** SkillsTable Component **/
/** ===================== **/

.skills-table__title {
  font-size: 25px;
}

.skills-table__list {
  list-style-type: none;
  padding-left: 10px;
  min-width: 210px;
}

/** ======================== **/
/** SkillsListItem Component **/
/** ======================== **/

.skills-list-item {
  margin: 5px;
}

.skills-list-item__image {
  height: auto;
  width: 30px;
  padding-right: 10px;
  vertical-align: middle;
}

.skills-list-item__text {
  display: inline-block;
  vertical-align: middle;
}

/** ======================= **/
/** ==== MEDIA QUERIES ==== **/
/** ======================= **/

@media all and (max-width: 1000px) { 
  .skills__tables {
    width: 90%;
  }
} 

@media all and (max-width: 768px) { 
  .skills__tables {
    width: 85%;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .skills__table {
    margin-top: 20px;
  }
}