.app {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}

.box-button {
  height: 40px;
  border: none;
  font-weight: bold;
  font-size: 25px;
  color: var(--secondary-color);
  background-color: var(--main-color);
  cursor: pointer;
  border: 3px solid var(--secondary-color);
}

.box-button:hover:enabled {
  color: var(--main-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.box-button:focus:enabled {
  outline: none;
}

.box-button:disabled {
  opacity: 0.25;
}