:root {
  --bar-main-color: var(--accent-color);
  --circle-size: 40px;
}

.progressbar__wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 300px;
  width: 150px;
  z-index: 100;
}

.progressbar__list {
  list-style-type: none;
}

.progressbar__step {
  position: relative;
  cursor: pointer;
}

.progressbar__circle {
  width: var(--circle-size);
  height: var(--circle-size);
  line-height : var(--circle-size);
  border-radius: 100%;
  position: relative;
  text-align: center;
  background-color: var(--secondary-color);
  margin: -2px auto;
}

.progressbar__inner-circle {
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: var(--bar-main-color);
  position: absolute;
  border-radius: 100%;
  margin: auto;
}

.progressbar__step-line {
  z-index: -5;
  position: relative;
  height: var(--circle-size);
  width: 10px;
  background-color: var(--secondary-color);
  margin: 0 auto;
}

.progrssbar__step-inner-line {
  background-color: var(--bar-main-color);
  height: 100%;
  width: 100%;
}

.progressbar__step-name {
  position: absolute;
  right: 80%;
  bottom: 10px;
  rotate: 0;
}

.progressbar__pose--idle, .progressbar__pose--viewed {
  opacity: 0.2;
}

@media all and (max-width: 1000px) { 
  .progressbar__wrapper {
    display: none;
  }
}   

